body {
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #ff6f91;
  color: white;

}

button:hover {
  background: #ff4d6d;
}
.hidden {
  display: none;
}
.bubbles span {
  position: absolute;
  bottom: -50px;
  background: rgba(255,255,255,0.6);
  border-radius: 50%;
  animation: bubbleUp 8s linear forwards;
}

@keyframes bubbleUp {
  from {
    transform: translateY(0);
    opacity: 0.8;
  }
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}
